/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 28/06/2025, 10:56:55 p. m.
    Author     : Yiseth Lopez
*/

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: #fff;
    margin: 40px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px;
}

h\:form {
    width: 100%;
}
.container h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group input, .form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.btn {
    background-color: #1F2937;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}
.btn:hover {
    background-color: #374151;
}
.login-link {
    text-align: center;
    margin-top: 15px;
}
.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}


.form-columns {
    display: flex;
  
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Para responsive */
}

.form-column {
    flex: 2;
    min-width: 250px;
}

.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.password-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 8px;
    cursor: pointer;
}