/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 29/06/2025, 1:49:49 p. m.
    Author     : Yiseth Lopez
*/

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7; /* Fondo blanco */
    color: #1F2937;
}

header {
    background-color: #1F2937; /* Azul claro */
    color: white;
    padding: 2rem 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

section {
    padding: 50px 10%;
    text-align: center;
}

/* Contenedor de los servicios */
.servicios {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
}

/* Estilo para cada servicio */
.servicio {
    background-color: #e7f3ff; /* Fondo azul claro */
    padding: 20px;
    width: 30%;
    min-width: 250px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.servicio h3 {
    font-size: 1.8rem;
    color: #1f2937;
    margin-bottom: 15px;
}

.servicio p {
    font-size: 1rem;
    color: #000000;
}

/* Efecto al pasar el ratón sobre los servicios */
.servicio:hover {
    transform: translateY(-5px);
}

/* Responsive: Aseguramos que sea visualizable en dispositivos pequeños */
@media (max-width: 768px) {
    .servicios {
        flex-direction: column;
        padding: 0 10%;
    }

    .servicio {
        width: 80%;
        margin-bottom: 20px;
    }
}

/* Estilos para el botón */
.btn-back {
    background-color: #595d64;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 20px;
    display: inline-block;
    transition: background-color 0.3s;
}

.btn-back:hover {
    background-color: #374151;
}