<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <!-- Configura JSF en modo desarrollo -->
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>

    <!-- Faces Servlet -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <!-- Configuración de sesión -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <!-- Página de inicio -->
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>

    <!-- Filtro de seguridad personalizado -->
    <filter>
        <filter-name>Filtro</filter-name>
        <filter-class>security.Filtro</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Filtro</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Restricción de acceso a recursos -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Recursos Estáticos</web-resource-name>
            <url-pattern>/resources/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>

</web-app>
